@model List<PersonsModel>

@{
    ViewData["Title"] = "Persons List";
}

<h2>Persons List</h2>

<table class="table" id="people">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Surname</th>
            <th>ID Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.Code</td>
                <td>@person.Name</td>
                <td>@person.Surname</td>
                <td>@person.Id_Number</td>
                <td>
                    <a asp-action="Details" asp-route-id="@person.Code" class="btn btn-info">Details</a> |
                    <a asp-action="Edit" asp-route-id="@person.Code" class="btn btn-primary">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@person.Code" class="btn btn-danger mb-2">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Styles {
	<link href="~/lib/datatables.net-bs5/css/datatables.bootstrap5.min.css" rel="stylesheet" />
}

@section Scripts {
	<script src="~/lib/datatables.net/js/datatables.min.js"></script>
	<script src="~/lib/datatables.net-bs5/js/datatables.bootstrap5.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {

			$('#people').DataTable({
				layout: {
					topStart: 'pageLength',
					topEnd: 'search',
					bottomStart: 'info',
					bottomEnd: 'paging'
				},
				autoWidth: true,
				ordering: true,
				language: {
					emptyTable: 'No records found'
				},
                columnDefs: [
                    { type: 'string', targets: [0, 1, 2, 3, 4] }
                ]

			});

		});
	</script>
}
